<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    *ngIf="this.authService.isUserLogin()" [nzTrigger]="null">
    <div class="sidebar-logo">
      <h1>Leave management system</h1>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item [nzMatchRouter]="true">
        <i nz-icon nzType="home" nzTheme="outline"></i>
        <span routerLink="home"><a>Home</a></span>
      </li>
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item [nzMatchRouter]="true">
            <span routerLink="monitor"><a>Monitor</a></span>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item [nzMatchRouter]="true">
            <span routerLink="leave"><a>Leave</a></span>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header *ngIf="this.authService.isUserLogin()">
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>

        <i nz-icon nzType="user" nzTheme="outline"></i>
        <span style="margin-left: 10px;">{{this.authService.getUsername()}}</span>

      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
